#page-home {
    .feature-list {
        columns: 2;
    
        ul, li {
            margin: 0;
            padding: 0;
            display: block;
            list-style: none;
        }

        li {
            padding: 10px 15px;
            border: 2px solid blue;
            margin-bottom: 10px;
        }

        h3 {
            margin: 0;
        }

        p {
            margin: 0;
        }
    }

    .module-list, .module-list li {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .module-list {
        img {
            width: 100px;
        }

        span {
            font-weight: bold;
        }
        
        text-align: center;
        overflow: auto;

        li {
            float: left;
            margin: 0 15px;
        }
    }
}