<ul class="ma0 pa0 list fr">
  {{#each theme.menu as |value key|}}
    <li class="dib ph2 pv3">
      <a href="{{value}}" class="{{#if act}}bb bw2 b--green{{/if}}">{{key}}</a>
    </li>
  {{/each}}
</ul>
