<div class="post-info">
  <a></a>
  {{item.date}}
  {{#if item.from}}
    <a href="{{item.from}}" target="_blank" title="{{item.from}}" class="post-from">
        {{translate_original}}
    </a>
  {{/if}}
</div>