<section id="page-community">
  <div class="large-12 columns large-center">
    <h1>Welcome to our community!</h1>
    <h4>Get in touch:</h4>
  </div>
  <div class="row">
    <a href="//tessel.io/forums">
    <div class="large-4 columns">
      <div class="large-5 columns left"><img src="https://s3.amazonaws.com/technicalmachine-assets/technical-io/press-page/branding/tessel-250.png" style="max-width:100px"></div>
      <div class="large-7 columns right">
        <h4>Forums</h4>
        <p>Your first stop for support and finding answers.</p>
      </div>
    </div></a><a href="//tessel-slack.herokuapp.com">
    <div class="large-4 columns">
      <div class="large-5 columns left"><img src="https://upload.wikimedia.org/wikipedia/commons/7/76/Slack_Icon.png" style="max-width:100px"></div>
      <div class="large-7 columns right">
        <h4>Slack</h4>
        <p>Hang out with the team on our community chat.</p>
      </div>
    </div></a><a href="//github.com/tessel/project">
    <div class="large-4 columns">
      <div class="large-5 columns left"><img src="http://image005.flaticon.com/25/svg/25/25231.svg" style="max-width:100px"></div>
      <div class="large-7 columns right">
        <h4>Github</h4>
        <p>Get involved with development of the Tessel Project.</p>
      </div>
    </div></a>
  </div>
  <div class="row">
    <div class="large-12 columns large-center">
      <h4>Share a project or get inspired:</h4><a href="//tessel.io/projects"><img src="http://i.imgur.com/pKaDqNr.png"></a>
      <p>Tessel community members show off their projects at <a href="//tessel.io/projects">tessel.io/projects</a>.</p>
      <h4>Join fellow Tesselators around the world:</h4>
    </div>
  </div>
  <div class="row">
    <div class="large-9 columns large-center">
      <a href="//tessel.meetup.com"><img src="http://i.imgur.com/aMr8Q9O.png"></a>
    </div>
    <div class="large-3 columns">
      <a href="http://www.meetup.com/topics/tessel/"><img src="http://photos2.meetupstatic.com/photos/event/4/2/6/highres_147421062.jpeg" style="margin-bottom: 20px"></a>
      <p>Do you host a meetup which (sometimes) involves Tessel? <a href="http://www.meetup.com/help/article/903789/">Add "Tessel" as a meetup topic</a> to be listed here.</p>
    </div>
  </div>
</section>