@charset "utf-8";

@import "bourbon";
@import "neat";

@import "shared/normalize";
@import "shared/base";
@import "shared/header";
@import "shared/archive-post-list";
@import "shared/post";
@import "shared/footer";
@import "shared/body";
@import "shared/copyright";
@import "shared/highlight";

@import "pages/blog";
@import "pages/home";
@import "pages/modules";

@font-face {
    font-family: 'sourcesanspro';
    src: url('../font/sourcesanspro.woff2') format('woff2'),
         url('../font/sourcesanspro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
