<section id="page-home">
  <div class="flex items-center">
    <div class="w-70">
      <h1 class="f1 mv2">Tessel</h1>

      <p>Build your idea <em>faster</em>.</p>
      <p>Tessel 2 is a robust IoT and robotics development platform. Leverage all the libraries of Node.js to create useful devices in minutes with Tessel.</p>

      <p><a class="link dim green b" href="http://www.seeedstudio.com/depot/Tessel-2-p-2622.html?ref=tessel.io">Order from Seeed Studio (China/Global)</a></p>
      <p><a class="link dim green b" href="https://www.sparkfun.com/products/13841?ref=tessel.io">Order from SparkFun (USA/Global)</a></p>
    </div>

    <img class="center" height="200" src="https://s3.amazonaws.com/technicalmachine-assets/launch/tessel2-800x600.jpg">
  </div>

  <hr />

  <h2 class="f2 mb0">Tessel 2 Features</h2>
  <p class="mt2">Everything you need to get up and running.</p>

  <div class="cf">
    <ul class="list w-50 fl pa0 pr3 mt0">
      <li class="ba bw1 b--light-blue pa3 mb2">
        <h3 class="ma0 f3">2 Tessel Module ports</h3>
        <p class="ma0">add sensors and actuators in one step</p>
      </li>
      <li class="ba bw1 b--light-blue pa3 mb2">
        <h3 class="ma0 f3">2 USB ports</h3>
        <p class="ma0">use peripherals like cameras and 3G/4G dongles</p>
      </li>
      <li class="ba bw1 b--light-blue pa3 mb2">
        <h3 class="ma0 f3">802.11bgn Wifi</h3>
        <p class="ma0">connected out of the box and wirelessly programmable</p>
      </li>
      <li class="ba bw1 b--light-blue pa3 mb2">
        <h3 class="ma0 f3">Ethernet</h3>
        <p class="ma0">an ultra-reliable, wired connection</p>
      </li>
    </ul>
    <ul class="list w-50 fl pa0 mt0">
      <li class="ba bw1 b--light-blue pa3 mb2">
        <h3 class="ma0 f3">580MHz Mediatek MT7620n</h3>
        <p class="ma0">execute your program faster</p>
      </li>
      <li class="ba bw1 b--light-blue pa3 mb2">
        <h3 class="ma0 f3">64 MB DDR2 RAM &amp; 32 MB Flash</h3>
        <p class="ma0">plenty of space for your code</p>
      </li>
      <li class="ba bw1 b--light-blue pa3 mb2">
        <h3 class="ma0 f3">48MHz Atmel SAMD21 coprocessor</h3>
        <p class="ma0">realtime I/O and better power management</p>
      </li>
      <li class="ba bw1 b--light-blue pa3 mb2">
        <h3 class="ma0 f3">Micro-USB</h3>
        <p class="ma0">power and tethered programming</p>
      </li>
    </ul>
  </div>

  <h2 class="f2 mb1">Plug &amp; Play Module Ecosystem</h2>

  <h3 class="f3 mv0">Prototype fast with modular hardware</h3>

  <p>Interact with the physical world from sensing to actuation to connecting with other devices. Each module has an open source library on NPM, with instructions and tutorials available online. It's literally plug, npm install, and play.</p>

  <div class="tc mb5">
    <h3 class="underline">10-Pin Modules</h3>

    <ul class="flex items-end justify-around list pa0">
      <li class="w-10">
        <img src="https://s3.amazonaws.com/technicalmachine-assets/launch/images/modules/accelerometer-logo-200.png"> 
        <span class="b">Accelerometer</span>
      </li>
      <li class="w-10">
        <img src="https://s3.amazonaws.com/technicalmachine-assets/launch/images/modules/ambient-logo-200.png">
        <span class="b">Ambient</span>
      </li>
      <li class="w-10">
        <img src="https://s3.amazonaws.com/technicalmachine-assets/launch/images/modules/relay-logo-200.png">
        <span class="b">Relay</span>
      </li>
      <li class="w-10">
        <img src="https://s3.amazonaws.com/technicalmachine-assets/launch/images/modules/climate-logo-200.png">
        <span class="b">Climate</span>
      </li>
      <li class="w-10">
        <img src="https://s3.amazonaws.com/technicalmachine-assets/launch/images/modules/ir-logo-200.png">
        <span class="b">Infrared</span>
      </li>
      <li class="w-10">
        <img src="https://s3.amazonaws.com/technicalmachine-assets/launch/images/modules/servo-logo-200.png">
        <span class="b">Servo</span>
      </li>
    </ul>
  </div>


  <div class="tc mb5">
    <h3 class="underline">USB Modules</h3>

    <ul class="flex items-end justify-around list pa0">
      <li class="w-10" title="Allows your tesselation to work as a Bluetooth LE central or peripheral device. Connect to your phone, FitBit, or other device.">
        <img src="https://s3.amazonaws.com/technicalmachine-assets/launch/images/modules/ble-logo-200.png">
        <span class="b">BLE</span>
      </li>
      <li class="w-10" title="Connect your Tessel anywhere with support for mobile internet on a GSM-based network.">
        <img src="https://s3.amazonaws.com/technicalmachine-assets/launch/images/modules/cellular-logo-200.png">
        <span class="b">Cellular</span>
      </li>
      <li class="w-10" title="Read and write microSD cards. Store pictures or other data from your Tessel.">
        <img src="https://s3.amazonaws.com/technicalmachine-assets/launch/images/modules/sdcard-logo-200.png">
        <span class="b">MicroSD</span>
      </li>
      <li class="w-10" title="Add the sense of sight to Tessel! Take pictures of your projects, from your projects.">
        <img src="https://s3.amazonaws.com/technicalmachine-assets/launch/images/modules/camera-logo-200.png">
        <span class="b">Camera</span>
      </li>
      <li class="w-10" title="Play and record audio.">
        <img src="https://s3.amazonaws.com/technicalmachine-assets/launch/images/modules/audio-logo-200.png">
        <span class="b">Audio</span>
      </li>
    </ul>
  </div>

  <div class="tc mb5">
    <h3 class="underline">Community-Created Modules</h3>

    <ul class="flex flex-wrap items-end justify-around list pa0">
      <li class="w-10 mb4" title="Sense distance in centimeters with the ultrasound proximity sensor.">
        <img class="w-100" src="https://s3.amazonaws.com/technicalmachine-assets/launch/images/modules/thirdparty-distance-logo-200.png">
        <span class="b">Distance</span>
      </li>
      <li class="w-10 mb4" title="This RGB Color Sensor is like an eyedropper tool for the real world.">
        <img class="w-100" src="https://s3.amazonaws.com/technicalmachine-assets/launch/images/modules/thirdparty-dropper-logo-200.png">
        <span class="b">Color Sensor</span>
      </li>
      <li class="w-10 mb4" title="Read inputs from a small keypad.">
        <img class="w-100" src="https://s3.amazonaws.com/technicalmachine-assets/launch/images/modules/thirdparty-keypad-logo-200.png">
        <span class="b">Keypad</span>
      </li>
      <li class="w-10 mb4" title="Control the color of individually addressable LED lights.">
        <img class="w-100" src="https://s3.amazonaws.com/technicalmachine-assets/launch/images/modules/thirdparty-light-logo-200.png">
        <span class="b">Lights/LEDs</span>
      </li>
      <li class="w-10 mb4" title="Detect motion – know when something's happening.">
        <img class="w-100" src="https://s3.amazonaws.com/technicalmachine-assets/launch/images/modules/thirdparty-motion-logo-200.png">
        <span class="b">Motion</span>
      </li>
      <li class="w-10 mb4" title="Drive one or two small motors with Tessel.">
        <img class="w-100" src="https://s3.amazonaws.com/technicalmachine-assets/launch/images/modules/thirdparty-motor-logo-200.png">
        <span class="b">Motors</span>
      </li>
      <li class="w-10 mb4" title="Sense your pulse and fire events with each heartbeat.">
        <img class="w-100" src="https://s3.amazonaws.com/technicalmachine-assets/launch/images/modules/thirdparty-pulse-logo-200.png">
        <span class="b">Pulse</span>
      </li>
      <li class="w-10 mb4" title="A basic graphic LCD screen, this display lets you add UI to your Tessel project.">
        <img class="w-100" src="https://s3.amazonaws.com/technicalmachine-assets/launch/images/modules/thirdparty-screen-logo-200.png">
        <span class="b">Screen</span>
      </li>
      <li class="w-10 mb4" title="Add a switch or button to your module port.">
        <img class="w-100" src="https://s3.amazonaws.com/technicalmachine-assets/launch/images/modules/thirdparty-switch-logo-200.png">
        <span class="b">Button/Switch</span>
      </li>
    </ul>
  </div>

  <h2 class="f2 mb1">High-Level Hardware APIs</h2>
  <h3 class="f3 mv0">Build your application in minutes.</h3>
  <p>Tessel 2 runs JavaScript and supports NPM (the Node package manager)— that's HTTP, Twitter, web server, color, and async right out of the box.</p>

  <p>Install: <kbd>npm install t2-cli -g</kbd></p>
  <p>Add Library: <kbd>npm install ambient-attx4 </kbd></p>
  <p>Get Online: <kbd>t2 wifi -n [ssid] -p [password] </kbd></p>

  <p>Tessel 2 also has the capacity to support multiple languages&mdash;see samples of Rust and JavaScript in the tabs below.</p>

  <pre>
    /* ambient.js example */
    // this example streams sound data from
    // the ambient sensor every 0.5 seconds
    var tessel = require('tessel');
    var ambientlib = require('ambient-attx4');
    var WebSocket = require('ws');

    // Connect to our ambient sensor.
    var ambient = ambientlib.use(tessel.port['A']);

    // Open a websocket to our app.
    var ws = new WebSocket('ws://awesome-app.com/ambient');
    // When the connection is established
    ws.on('open', function () {
      setInterval(function () {
        // read some sound level data
        ambient.getSoundLevel(function(err, sdata) {
          if (err) throw err;
          sdata.pipe(ws);
        })
      }, 500); // The readings will happen every .5 seconds
    });
  </pre>

  <p>Use your favorite text editor and libraries to program Tessel 2, just like any web development environment. Uploading new code is as easy as <kbd>t2 run ambient.js</kbd>!</p>

  <h2>USB Modules</h2>
  <p>Tessel has two USB ports. Plug in USB modules and control them with a simple script.</p>

  <pre>
  /* ambient-camera.js example */
  // this example records video from a camera
  // when a certain sound level is reached
  var tessel = require('tessel');
  var http = require('http');
  // set up camera
  var cameralib = require('camera-usb');
  // set up ambient sensor on port A
  var ambient = require('ambient-attx4').use(tessel.port['A']);

  // set a sound trigger
  ambient.setSoundTrigger(0.6);

  cameralib.find(function(camera) {
    // stream some video when sound is sensed
    ambient.on('sound-trigger', function(){
      var req = http.request({
        hostname: 'example.com',
          path: '/upload',
          method: 'POST'
        },
        function (res) {
          res.pipe(process.stdout)
        });
      camera.captureStream(2000, 'mjpg').pipe(req);
    });
  });
  </pre>

  <p>Combine USB and 10-pin modules and run them with the same script.</p>

  <p>Run Code <code>t2 run ambient-camera.js</code></p>

  <h2 class="f2 mb0">Open Source</h2>
  <p class="mv1">Just like the original Tessel, Tessel 2 is open source software and hardware. Contributions are welcome!</p>

  <h3 class="f3 mb0">The Nitty</h3>
  <ul class="mt2">
    <li>Programmable in JavaScript</li>
    <li>Planned support for Rust and other languages</li>
    <li>Tessel Modules for added hardware capabilities</li>
    <li>Runs Node.js</li>
    <li>Deploy over USB or remotely by WiFi</li>
    <li>CE and FCC certified</li>
    <li>MicroUSB programming and power</li>
  </ul>

  <h3 class="f3 mb0">The Gritty</h3>
  <ul class"mt2">
    <li>580MHz Mediatek MT7620n</li>
    <li>Linux built on OpenWRT</li>
    <li>802.11bgn WiFi</li>
    <li>WEP, WPA, WPA2-PSK, WPA2-Enterprise</li>
    <li>64MB DDR2 RAM</li>
    <li>32MB Flash</li>
    <li>16 pins GPIO, 7 of which support analog in</li>
    <li>2 USB 2.0 ports with per-port power switching</li>
    <li>Supports 10/100 ethernet</li>
  </ul>

  <h2 class="f2 mb0">FAQ</h2>

  <dl>
    <dt class="b">What’s changing with Tessel 2?</dt>
    <dd class="mb3">New features on Tessel 2 include extremely reliable WiFi, an ethernet jack, two USB ports, and a system that runs real Node.js.
    We’ve also added support for scaling up: board customization options, and services for embedding Tessel in a product.</dd>

    <dt class="b">When will my Tessel 2 ship?</dt>
    <dd class="mb3">Tessel 2 is currently shipping! You can order T2s for immediate delivery from Seeed.</dd>

    <dt class="b">What modules are available/compatible?</dt>
    <dd class="mb3">Check out <a href="/modules">our modules page</a>!</dd>

    <dt class="b">How is Tessel 2 different from other development boards?</dt>
    <dd class="mb3">Tessel 2 is designed for the fastest possible path to production. Plug and play modules and high-level APIs set it apart from most other development boards. Tessel doesn't expect you to set up and maintain a Linux system or track down pinout diagrams to wire up sensors (though the root shell and GPIO access are available should you desire them).</dd>

    <dt class="b">Can I try out the Tessel platform?</dt>
    <dd class="mb3">Absolutely! You can find in-person communities hacking on Tessels on our <a href="https://tessel.io/community">Community page</a>.</dd>

    <dt class="b">Can I use my own USB devices?</dt>
    <dd class="mb3">Yes. First-party modules will have high-level APIs and be tested to ensure driver support, but you can also add your own USB devices if the drivers are compatible and/or you dive a little deeper into the OpenWrt ecosystem.</dd>

    <dt class="b">Is Tessel a start-up?</dt>
    <dd class="mb3">No– in fact, we're not a company at all. Originally, Tessel was produced by a start-up called Technical Machine, but it has since grown into an independent, all-volunteer organization called the Tessel Project.</dd>

    <dt class="b">I have more questions! How can I contact you?</dt>
    <dd class="mb3">For quick questions, we're <a href="http://twitter.com/tesselproject">@tesselproject</a> on Twitter. Longer questions are welcome on our forums. Questions about orders should be directed to Seeed Studio.</dd>
  </dl>

  <h2 class="f2 mb0">Stay Updated</h2>
  <p>Sign up to receive a periodic (monthly) newsletter about Tessel news.</p>
  <p>"This Week in Tessel" is where we highlight the latest news, projects, and events, from code, to community, to hardware manufacturing.</p>

  <iframe width="540" height="230" src="https://my.sendinblue.com/users/subscribe/js_id/2k6sl/id/1" frameborder="0" scrolling="auto" allowfullscreen="allowfullscreen" style="display: block;margin-left: auto;margin-right: auto;background:white;"></iframe>


  <p><a class="link dim green b" href="http://www.seeedstudio.com/depot/Tessel-2-p-2622.html?ref=tessel.io">Order from Seeed Studio (China/Global)</a></p>
  <p><a class="link dim green b" href="https://www.sparkfun.com/products/13841?ref=tessel.io">Order from SparkFun (USA/Global)</a></p>
</section>
