{{#> layout }}
  {{#*inline "container" }}
    <h1>Tessel.io</h1>
    
    <p> TODO all the previous animated content </p>

    <img src="https://www.tesla.com/tesla_theme/assets/img/models/slideshow/Red_Bay-1440.jpg?20170420">
  {{/inline}}
  
  {{#*inline "pagination" }}
  {{/inline}}
  
  {{#*inline "copyright" }}
    {{>copyright}}
  {{/inline}}
{{/layout}}