{{#> layout }}
  {{#*inline "container" }}
    <div class="post-content">
      <h1>Tessel.io</h1>
      
      <p>Tessel 2 Features</p>
      <p>Everything you need to get up and running.</p>

      <img src="https://www.tesla.com/tesla_theme/assets/img/models/slideshow/Red_Bay-1440.jpg?20170420">
    </div>
  {{/inline}}
  
  {{#*inline "pagination" }}
  {{/inline}}
  
  {{#*inline "copyright" }}
    {{>copyright}}
  {{/inline}}
{{/layout}}
