{{#> layout }}
  {{#*inline "container" }}
    <div class="post-content">
      <h1>Tessel.io</h1>
      
      <p>Tessel 2 Features</p>
      <p>Everything you need to get up and running.</p>

      <img src="https://s3.amazonaws.com/technicalmachine-assets/launch/tessel2-800x600.jpg">
    </div>
  {{/inline}}
  
  {{#*inline "pagination" }}
  {{/inline}}
  
  {{#*inline "copyright" }}
    {{>copyright}}
  {{/inline}}
{{/layout}}
